@model IEnumerable<AXCEX_ONLINE.Models.ComponentViewModels.CompViewAssignedProj>

@{
    ViewData["Title"] = "Index";
}



<h5 class="text-muted">Your Assigned Active Projects</h5>
<table class="table" style="min-width:310px;max-width:1000px">
    
    <thead>
        <tr>
            <th >
               Project
            </th>

            <th>
               Manager
            </th>
            <th>
                Active
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assigned_By)
                </td>

                <th>
                    @Html.DisplayFor(modelItem => item.ActiveProj)
                </th>
                <td>
                    <div class="row">
                        <a role="button" class="btn btn-info"  style="max-width:85px" title="View Tasks" asp-controller="Scope" asp-action="ViewScope" asp-route-id="@item.ProjectId"><span class="glyphicon glyphicon-list-alt"></span> Tasks</a>

                        <a role="button" class="btn btn-warning" style="max-width:85px" title="View Scope" asp-controller="Scope" asp-action="ViewScope" asp-route-id="@item.ProjectId"><span class="glyphicon glyphicon-globe"></span> Scope</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
