@model IEnumerable<AXCEX_ONLINE.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.EMPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_FNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_LNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_FNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_LNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
             @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
           
            <td>
                <form asp-controller="Employee" asp-action="EditEmployee" method="get" role="form">
                    <div>
                        <button type="submit" class="btn btn-info" name="EmpID" value="@item.EMPID"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
