@model IEnumerable<AXCEX_ONLINE.Models.EmployeeViewModels.EmployeeViewAssignedProjectsVM>

@{
    ViewData["Title"] = "Index";
}


    <h5>Your Assigned Projects</h5>

    <table class="table" style="min-width:360px;max-width:1000px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project_Name)
                </th>

                <th>
                    Manager
                </th>

                <th>
                   Dates
                </th>
                

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assigned_By)
                    </td>
                    <td uiactions="zoom" style="font-size:1em">
                        
                        @Html.DisplayFor(modelItem => item.Start_Date)
                        <br/>
                        @Html.DisplayFor(modelItem => item.Due_Date)
                    </td>
                    
                    <td>
                        <div class="row" style="padding-top:10px;padding-left:5px">

                            <a role="button" class="btn btn-info" title="View Tasks" style="max-width:85px"
                               asp-controller="Scope" asp-action="ViewScope" asp-route-id="@item.Project_ID">
                            <span class="glyphicon glyphicon-list-alt"></span> Tasks</a>

                            <a role="button" class="btn btn-warning" title="View Scope" style="max-width:85px" 
                               asp-controller="Scope" asp-action="ViewScope" asp-route-id="@item.Project_ID">
                            <span class="glyphicon glyphicon-globe"></span> Scope</a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

