@model AXCEX_ONLINE.Models.ProjectModel

@{
    ViewData["Title"] = "ProjectDetails";
}
<!-- Inject for different views based on role.-->
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<h2>Project Details</h2>

<div>
    <h4>ProjectModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjCurentCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjCurentCost)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |

        <a asp-action="Index">Back to List</a>
    </div>
}

else
{

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
