@model AXCEX_ONLINE.Models.CustomerModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_ACCOUNT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_ACCOUNT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
