@model IEnumerable<AXCEX_ONLINE.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h3 class="text-success">@ViewData["Msg"]</h3>

<h3 class="text-danger">@ViewData["ErrorMsg"]</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUSTOMER_ACCOUNT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_ACCOUNT)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
